.workBench_page{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    .model-basic-info, .model-basic-info-left {
        align-items: center;
        display: flex;
        margin-bottom: 12px;
        .model-basic-info-logo {
          border-radius: 50% 50%;
          height: 28px;
          margin-right: 12px;
          width: 28px;
        }
        .model-basic-info-name {
          color: #333;
          font-size: 14px;
          font-weight: 500;
          line-height: 36px;
        }
    }
    .a_content{
        flex-grow:1;
        width:100%;
        display: flex;
        overflow: scroll;
        margin-bottom: 20px;
        .qa_content{
            width: 100%;
        }
    }
    .q_content{
        height: 200px;
        border-radius: 8px;
        border: 1px solid #ddd;
        border-radius: 16px;
        display: flex;
        padding: 12px 16px;
        position: relative;
        .prompt-multimodal-input-plus-content-logos {
            display: flex;
            margin-right: 8px;
        }
        .prompt-multimodal-input-plus-content-logos img {
            border: 2px solid #fff;
            height: 28px;
            overflow: hidden;
            width: 28px;
        }
        textarea{
            height: 100%!important;
            border: none;
            flex-grow: 1;
            padding:4px 14px
        }
        .ant-input:focus, .ant-input-focused {
            border-color: none;
            box-shadow: none;
            border-right-width: 0;
        }
        
        .clear-func{
            top: 12px;
            display: flex;
            flex-direction: row-reverse;
            position: absolute;
            right: 16px;
            .clear-img{
                cursor: pointer;
                height: 20px;
                margin-left: 12px;
                width: 20px;
            }
        }
        .prompt-multimodal-input-plus-content-input-send {
            align-items: center;
            bottom: 12px;
            display: flex;
            flex-direction: row-reverse;
            position: absolute;
            right: 16px;
            background: #fff;
            .send-button-img {
                cursor: pointer;
                width: 18px;
            }
            
            .loading-img {
                cursor: pointer;
                height: 20px;
                margin-left: 12px;
                width: 20px;
            }
        }
    }
}